/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*START CSS PARA EL HEADER */
header {

   
    background-color: #2c3e50;
    color: #fff;
    padding: 10px 0; /* Espaciado interno para el header */
    display: flex; /* Flexbox para alinear elementos */
    align-items: center; /* Alinea verticalmente los elementos */
    width: 100%; /* Ajuste automático de ancho para mantener la proporción */
    height: 56px; /* Ajuste automático de altura para mantener la proporción */
 
}


.header__container {
    max-width: 1000px;
    margin-left: center; /* Centra el container del header en la página */
    padding: 0 20px;
    display: flex;
    text-align: center;
    
}

.block {
    width: 150px; /* Ajuste automático de ancho para mantener la proporción */
    height: 150px; /* Ajuste automático de altura para mantener la proporción */
    margin-left: 15px; /* Ajusta el margen según sea necesario */
}

.header__nav {
    margin-left: auto; /* Mueve la navegación hacia la derecha */
}

.header__nav ul {
    list-style: none; /* Elimina los puntos de la lista */
    display: flex;
    position: relative; /* Necesario para el posicionamiento absoluto de los submenús */
    
}

.header__nav ul li {
    margin: 0 15px; /* Espaciado entre los elementos de la navegación */
    margin-top: 10px;
    position: relative; /* Necesario para el posicionamiento absoluto de los submenús */
}

.header__nav ul li a {
    color: #dbd5d5; /* Color del texto del enlace */
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-size: 15px;
    transition: color 0.3s; /* Transición suave para el cambio de color */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.header__nav ul li a:hover {
    color: #27a0f7; /* Color del enlace al pasar el ratón por encima */
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
    .header__container {
        padding: 0 10px; /* Reducción del padding en pantallas más pequeñas */
    }
    
    .block {
        width: 100px; /* Ejemplo de tamaño más pequeño para el logo en pantallas pequeñas */
    }
    
   
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0); /* Color blanco con 80% de opacidad */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(14, 154, 179, 0.8); /* Color con 80% de opacidad */
}

.header__nav ul li:hover .dropdown-content {
    display: block;
}

 
/*END CSS PARA EL HEADER */
.saltoDPG {
    padding: 8px 20px;
    background-color: black;
    color: white;
    border-radius: 30px;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    transition: background-color 0.3s ease;
    position: relative;
}

.saltoDPG:hover {
    background-color: #2c3e50;
}

.button-container {
    position: absolute;
  
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; 
}

/*START CSS PARA EL BODY */

body {
    background-color: #0e9ab3; /* Color de fondo para el cuerpo */
    font-size: 16px; /* Tamaño base de la fuente */
    line-height: 1.6; /* Altura de línea para una mejor legibilidad */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: flex-start; /* Alinea el contenido arriba */
    min-height: 100vh; /* Mínima altura para ocupar toda la pantalla */
    padding-top: 0; /* Espaciado superior para evitar solapamientos con el header */
}

.main-content {
    max-width: 100%;
    display: flex; /* Contenedor de flexbox para columnas */
    justify-content: space-between; /* Espaciado entre columnas */
    margin: 50px; /* Margen exterior */
    padding: 20px; /* Espaciado interno */
    background-color: #fff; /* Color de fondo del contenido */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative; /* Necesario para la posición absoluta del botón */
}

.section {
    flex: 1; /* Ocupa todo el espacio disponible */
    padding: 20px; /* Espaciado interno */
    margin: 0 10px; /* Margen lateral */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo de la sección */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
}

.section-header {
    font-size: 24px; /* Tamaño de fuente del encabezado de sección */
    color: #333; /* Color de texto para el encabezado de sección */
    margin-bottom: 15px; /* Espaciado inferior del encabezado de sección */
    border-bottom: 2px solid #ccc; /* Línea divisoria debajo del encabezado */
    padding-bottom: 5px; /* Espaciado inferior para la línea divisoria */
}

.section-content {
    margin-top: 10px; /* Espaciado superior del contenido */
    color: #666; /* Color de texto para el contenido */
    
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column; /* Cambia a una columna en pantallas pequeñas */
    }

    .section {
        margin: 10px 0; /* Ajuste de margen en pantallas pequeñas */
    }
}

.toggle-image {
    cursor: pointer;
    width: 30px;
    height: auto;
}


/* Sección de Testimonios */
.testimonials {
    margin-top: 20px;
}

.testimonial {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    
}

.testimonial p {
    font-style: italic;
    color: #333;
}

.testimonial cite {
    display: block;
    text-align: right;
    color: #555;
    font-size: 14px;
}

/* Sección de Videos Tutoriales */
.videos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.videos iframe {
    flex: 1;
    max-width: 100%;
    border: none;
}


/* Ajustes para imágenes toggles */
.toggle-image {
    cursor: pointer;
    width: 30px;
    height: auto;
}

/* Ajustes generales para el layout */
.section {
    margin: 20px 0; /* Ajuste de margen para separación entre secciones */
}
